body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: rgba(0, 0, 0, 0.7);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 0;
}

.home-link a {
  text-decoration: none;
  font-weight: 700;
  color: #04aa6d;
}

#employee-div h2 {
  margin-top: 0;
}

#employee-div a {
  text-decoration: none;
}

.logo {
  color: #04aa6d;
  box-shadow: 12px 12px 2px 1px rgba(9, 255, 0, 0.1);
  border: 1px solid;
  padding: 2px;
  margin-left: -5px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-link {
  position: relative;
  margin-top: 30px;
  border: 1px solid #04aa6d;
  margin-bottom: 30px;
  width: 90px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.home-link ::after,
.home-link ::before {
  position: absolute;
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  transition: 0.3s ease-in-out;
  width: 20px;
  height: 20px;
}

.home-link ::before {
  top: -5px;
  left: -5px;
  border-top: 1px solid #04aa6d;
  border-left: 1px solid #04aa6d;
}

.home-link ::after {
  right: -5px;
  bottom: -5px;
  border-bottom: 1px solid #04aa6d;
  border-right: 1px solid #04aa6d;
}

.home-link:hover ::before,
.home-link:hover ::after {
  width: calc(100% + 9px);
  height: calc(100% + 9px);
}

form {
  margin: 15px;
  border-radius: 5px;
  background-color: #f8fffc;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  padding: 20px;
  border: 1px solid;
  max-width: 400px;
  min-width: 400px;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

form p{
  margin: 0 0 4px 0;
  color: red;
}

form label{
  margin: 30px 0 0 0;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 40px 0 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #04aa6db8;
}
input,
button {
  border-radius: 5px;
  font-size: 16px;
}


.address {
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 95%;
  margin: 30px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: white;
}

.info-entries {
  display: flex;
  justify-content: space-between;
  width: 95%;
  font-weight: 700;
}

.info-entries input {
  padding: 5px;
}

.info-entries button {
  padding: 5px 7px;
}

.show-entries {
  display: flex;
  align-items: center;
}

.show-entries select {
  padding: 5px 15px;
  margin: 0px 10px;
}

.page-index {
  margin: 0 10px;
}

.empty-table{
  background-color: #f2f2f2;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 40px;
  color: black;
}





